Projeto/node-red-flow.json
[
    {
        "id": "flow_principal",
        "type": "tab",
        "label": "Sala Inteligente - Grupo 10",
        "disabled": false,
        "info": "Dashboard de Monitoramento de Sala de Aula Inteligente\nGrupo 10 - CESAR School"
    },
    {
        "id": "aedes_broker",
        "type": "aedes broker",
        "z": "flow_principal",
        "name": "Broker MQTT Aedes",
        "mqtt_port": 1883,
        "mqtt_ws_port": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "mqtt_temp",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Temperatura",
        "topic": "sala/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "debug_temp",
                "gauge_temp",
                "chart_temp"
            ]
        ]
    },
    {
        "id": "debug_temp",
        "type": "debug",
        "z": "flow_principal",
        "name": "📊 Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_umid",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Umidade",
        "topic": "sala/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "debug_umid",
                "gauge_umid",
                "chart_umid"
            ]
        ]
    },
    {
        "id": "debug_umid",
        "type": "debug",
        "z": "flow_principal",
        "name": "💧 Umidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_luz",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Luminosidade",
        "topic": "sala/luminosidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "debug_luz",
                "gauge_luz"
            ]
        ]
    },
    {
        "id": "debug_luz",
        "type": "debug",
        "z": "flow_principal",
        "name": "💡 Luminosidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "mqtt_presenca",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Presença",
        "topic": "sala/presenca",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "debug_presenca",
                "text_presenca"
            ]
        ]
    },
    {
        "id": "debug_presenca",
        "type": "debug",
        "z": "flow_principal",
        "name": "👤 Presença",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt_ocupacao",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Ocupação",
        "topic": "sala/ocupacao",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "debug_ocupacao",
                "text_ocupacao"
            ]
        ]
    },
    {
        "id": "debug_ocupacao",
        "type": "debug",
        "z": "flow_principal",
        "name": "🚪 Ocupação",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "mqtt_alertas",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Alertas",
        "topic": "sala/alertas",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "debug_alertas",
                "notification_alerta"
            ]
        ]
    },
    {
        "id": "debug_alertas",
        "type": "debug",
        "z": "flow_principal",
        "name": "⚠️ Alertas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "mqtt_ac",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Sugestão AC",
        "topic": "sala/sugestao_ac",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "debug_ac",
                "text_ac"
            ]
        ]
    },
    {
        "id": "debug_ac",
        "type": "debug",
        "z": "flow_principal",
        "name": "❄️ Sugestão AC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "broker_mqtt",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]